@charset "UTF-8";
.action, .messages, .score{
	border: 4px solid black;
	border-radius: 5px;
}

.action{
	background-color: #ddd;
}
.action:hover{
	background-color: #bbb;
}

.fail {
	display: flex;
	text-align: center;
	flex-direction: column;
	margin:20% auto;
	
}
.fail-container{
	background-color: #333;
}
.fail-message{
	font-size: 100px;
	color: crimson;
}
.fail-button{
	margin:auto;
	width:50vw;
	font-size:36px;	
}

.fade-in {animation: fadeIn 3s;}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

